{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Learner | Runner | WRiter</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>I love learning.</h3>
        <p>Learning for me is something painful yet it brings me the deepest joy. Indeed, the more I suffer, the more I love! </p>
        <p>I love learning Ukulele, practicing the simplest rhythme for several hours until it becomes natural. </p>
        <p>I love learning something new by reading books. However, the more I read, the more I am getting curious : )</p>
        <p>I love learning new places by travelling, hiking, climbing mountains, living in hostel, having dinners in the convenient store etc. In a word, I don't fancy comfortable trips :P</p>

        <h3>I love running.</h3>
        <p>I started running in 2014 but just stopped regular run in the second half of 2015 due to an overwhelming job. However, from this year on, I have kept my monthly goal of 200KM for 6 months!</p>
        <p>I am kind of disappointed that despite running so much, I barely lose weight T_T However, it won't bother me any more. All I enjoy is the feeling of sweating and running to embrace the wind.</p>
        <p>Here you can see my running on <a href="https://www.strava.com/athletes/90646202">Strava</a>. </p>
        <h3>I love writing.</h3>
        <p>I am probably the only reader of my articles. I don't even want to call them articles because it is just mumbo-jumbo for others.</p>
        <p>For me, I just need to clean my thoughts by pouring them into words so that I have more space to think : ) I usually write a lot when I need to do self-reflection, organize my learning notes, sorting out my thoughts on books and movies. </p>
          <p>I will try my best to leave something useful here!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}